{% macro page_example(params) %}

<div class="app-example-wrapper" id="{{ exampleId }}">
  <div class="app-example {{ "app-example--tabs" if params.html or params.nunjucks }}">
    <span class="app-example__new-window">
      <a href="{{ params.src }}" target="_blank">
        Open in a new window
      </a>
    </span>
    <iframe src="{{ params.src }}" title="{{ params.title }}" data-module="app-example-frame" class="app-example__frame app-example__frame--resizable{% if params.size %} app-example__frame--{{ params.size }}{% endif %}" src="{{ params.src }}" frameBorder="0" height="600"></iframe>
  </div>

</div>


{% endmacro %}
