---
title: Start page
description: Template for a start page
section: Template pages
aliases:
layout: layout-pane.njk
theme: GOV.UK pages
---

You cannot adjust the design of this page, but you can use it to help you prototype realistic journeys connecting your service with GOV.UK content.

Read more about [start pages in the GOV.UK Design System](https://design-system.service.gov.uk/patterns/start-pages/).

{% from "_page_example.njk" import page_example %}

{{ page_example({"src":"https://govuk-prototype-kit.herokuapp.com/docs/templates/start"}) }}
