---
title: Check your answers page
description: Template for a check your answers page
section: Template pages
aliases:
layout: layout-pane.njk
theme: Service pages
---

{% from "_page_example.njk" import page_example %}

Find out how to use [check your answers pages in the GOV.UK Design System](https://design-system.service.gov.uk/patterns/check-answers/).

{{ page_example({"src":"https://govuk-prototype-kit.herokuapp.com/docs/templates/check-your-answers"}) }}
