---
layout: layout-single-page-prose.njk
title: Support
description:
---

# Support

If you have a problem, question or suggestion for the Prototype Kit you can get in touch:

 - by email: [govuk-design-system-support@digital.cabinet-office.gov.uk](mailto:govuk-design-system-support@digital.cabinet-office.gov.uk)
 - on Slack: [Government Slack #prototype-kit channel](https://ukgovernmentdigital.slack.com/app_redirect?channel=prototype-kit)

You can also see [known issues on GitHub](https://github.com/alphagov/govuk-prototype-kit/issues) and comment on them.
