---
layout: layout-pane.njk
title: Template pages
description:
show_subnav: true
---

The Prototype Kit comes with page templates for common page types to help you prototype faster.

You can find them in your prototype folder, in `/docs/views/templates`.

Copy and paste the pages you need to your `/app/views` folder to make your prototypes.
