---
layout: layout-pane.njk
section: Get started
title: Quick start guide
description:
---

## Requirements

node.js - version 12.x.x

## Install dependencies

```bash
npm install
```

## Run the kit
```bash
npm start
```

Go to [localhost:3000](http://localhost:3000) in your browser.

For more detailed instructions, see the [Get started guide](/get-started).