---
title: Content page
description: Template for a content page
section: Template pages
aliases:
layout: layout-pane.njk
theme: Service pages
---

{% from "_page_example.njk" import page_example %}

{{ page_example({"src":"https://govuk-prototype-kit.herokuapp.com/docs/templates/content"}) }}
