---
title: Task list
description: Template for a task list page
section: Template pages
aliases:
layout: layout-pane.njk
theme: Service pages
---

Find out how to use [task lists in the GOV.UK Design System](https://design-system.service.gov.uk/patterns/task-list-pages/).

{% from "_page_example.njk" import page_example %}

{{ page_example({"src":"https://govuk-prototype-kit.herokuapp.com/docs/templates/task-list"}) }}
