---
title: Step by step navigation
description: Template for step by step navigation
section: Template pages
aliases:
layout: layout-pane.njk
theme: GOV.UK pages
---

You cannot adjust the design of this page, but you can use it to help you prototype realistic journeys connecting your service with GOV.UK content.

Read more about [step by step navigation in the GOV.UK Design System](https://design-system.service.gov.uk/patterns/step-by-step-navigation/).

{% from "_page_example.njk" import page_example %}

{{ page_example({"src":"https://govuk-prototype-kit.herokuapp.com/docs/templates/step-by-step-navigation"}) }}
